{% extends 'base.html' %}

{% block content %}

<div class="page_container">
    <form action="/museums/{{ museum.id }}" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ museum.name }}" required autofocus>
        </div>
        <div>
            <label for="address">Address</label>
            <input type="text" name="address" id="address" value="{{ museum.address  }}" required>
        </div>
        <div class="form_button">
            <button type="submit">Update {{ museum.name }} </button>
        </div>
    </form>
</div>
    
{% endblock content %}