{% extends 'base.html' %}

{% block content %}

<div class="page_container">
    <div class="object_title">
        <h1>{{ work.title }}</h1>
        <a href="/works/{{ work.id }}/edit"><i class="material-icons">edit</i></a>
    </div>
    <p>by {{ work.artist}}</p>
    <hr>
    <p>{{ work.year }}</p>
    {% if work.museum.id %}
    <p>Currently housed at the <a href="/museums/{{work.museum.id }}">{{ work.museum.name }}</a>.</p>
    {% endif %}
    <div class="button_container">
        <form class="button" action="{{ work.id }}/delete" method='POST'>
            <button>Delete</button>
        </form>    
    </div>
</div>

{% endblock content %}